body {
    margin: 0;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans light';
    src: url('fonts/OpenSans light.ttf') format('truetype');
}

header {
    margin: auto;
    width: 1280px;
    height: 474px;
}
.up-head {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    background: #FAFBFC;
;
}

.up-head>div {
    margin: 0 25px;
}

a {
   padding-right: 10px;
   text-decoration: none;
   color: black;
}
select {
    border: none;
    font-family: Open Sans;
    font-size: 12px;
}
nav {
    padding-right: 150px;
}
.center-head {
    width: 1280px;
    height: 76px;
    left: 0px;
    top: 32px; 
    display: flex;
    border-bottom: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
}
}
.center-head>img {
    padding: 15px;
}
.katalog {
    padding: 10px 0;
    font-size: 14px;
}
.reorder {
    width: 116px;
    height: 40px;
    display: inline-flex;
    margin-top: 18px;
    border: 0;
    background: #FED83D;
    border-radius: 5px;
    cursor: pointer
}
.material-icons {
    padding: 5px;
}
#search {
    width: 526px;
    height: 40px;
    margin: 18px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    padding-left: 10px;


}
input {
    background-image: url(images/searchsearch.png);
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: 10px;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-right: 20px;
    height: 20px;
    font-size: 13px;
}
 input[type='text']:focus {
    border:1px solid blue;
    box-shadow:0 0 7px blue;
}

.list {
    width: 116px;
    height: 40px;
    display: inline-flex;
    margin-top: 18px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: #FAFBFC;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #9B51E0;
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 18px;
    padding: 12px;
}
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
